.DS_Store
*.user
*.suo
*.bak
.env*
**/appsettings.Development.json

backend/bin/
backend/obj/
backend/.vs/

frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

.idea/
.vscode/